In [3]:
from pathlib import Path
import os
import pandas as pd
import dask.dataframe as dd

In [4]:
cwd =os.getcwd()
p_cwd = Path(cwd).parent.absolute()
filename = "phen_data.csv"

In [5]:
df = dd.read_csv(os.path.join(p_cwd, "data", filename),
                 dtype={'s_id': int,
                        'provider_id': int,
                        'lon': float,
                        'lat': float,
                        'alt': object,
                        'alt_dem': object,
                        'gss_id': int,
                        'genus': str,
                        'species': object,
                        'subspecies': object,
                        'phase_id': int,
                        'day': int,
                        'cult_season': int,
                        'affected_flag': int,
                        'qc_flag': int,
                        'qc_ori_flag': int},
                parse_dates=['date'])

In [6]:
df.head()

,s_id,provider_id,lon,lat,alt,alt_dem,gss_id,genus,species,subspecies,phase_id,year,day,date,cult_season,affected_flag,qc_flag,qc_ori_flag
0,5144,101,11.23330,53.9833,5,0,2390300,Tilia,Tilia platyphyllos,NaN,60,1951,2,1951-01-02,0,0,0,0
1,2255,101,8.96667,51.3333,250,256,1360100,Corylus,Corylus avellana,NaN,60,1951,5,1951-01-05,0,0,0,0
2,1967,101,9.00000,49.6667,220,221,1360100,Corylus,Corylus avellana,NaN,60,1951,6,1951-01-06,0,0,0,0
3,4014,101,10.93330,49.8000,260,242,1360100,Corylus,Corylus avellana,NaN,60,1951,7,1951-01-07,0,0,0,0
4,512,101,10.13330,52.0167,120,122,1600100,Galanthus,Galanthus nivalis,NaN,60,1951,10,1951-01-10,0,0,0,0

In [7]:
df.columns

Index(['s_id', 'provider_id', 'lon', 'lat', 'alt', 'alt_dem', 'gss_id',
       'genus', 'species', 'subspecies', 'phase_id', 'year', 'day', 'date',
       'cult_season', 'affected_flag', 'qc_flag', 'qc_ori_flag'],
      dtype='object')

In [9]:
df.describe(include=['int','object', 'category']).compute()

,s_id,provider_id,alt,alt_dem,gss_id,genus,species,subspecies,phase_id,year,day,cult_season,affected_flag,qc_flag,qc_ori_flag
unique,NaN,NaN,306,818,NaN,49,55,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
count,1.119462e+07,1.119462e+07,11194620,11194620,1.119462e+07,11194620,10793394,17428,1.119462e+07,1.119462e+07,1.119462e+07,1.119462e+07,1.119462e+07,11194620.0,11194620.0
top,NaN,NaN,200,8,NaN,Prunus,Hordeum vulgare,Vitis vinifera MUELLER THURGAU WEISS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,279056,103536,NaN,1291839,716812,9805,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,3.177700e+03,1.009981e+02,NaN,NaN,1.838693e+06,NaN,NaN,NaN,7.372689e+01,1.981337e+03,1.659670e+02,2.474160e-01,2.572664e-05,0.0,0.0
std,2.076480e+03,6.130141e-02,NaN,NaN,5.150812e+05,NaN,NaN,NaN,6.634470e+01,1.748880e+01,6.883124e+01,6.141318e-01,5.072079e-03,0.0,0.0
min,1.000000e+00,9.900000e+01,NaN,NaN,1.000000e+04,NaN,NaN,NaN,0.000000e+00,1.951000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0
25%,1.871000e+03,1.010000e+02,NaN,NaN,1.560000e+06,NaN,NaN,NaN,6.000000e+01,1.972000e+03,1.300000e+02,0.000000e+00,0.000000e+00,0.0,0.0
50%,3.392000e+03,1.010000e+02,NaN,NaN,2.090600e+06,NaN,NaN,NaN,6.000000e+01,1.989000e+03,1.610000e+02,0.000000e+00,0.000000e+00,0.0,0.0
75%,4.985000e+03,1.010000e+02,NaN,NaN,2.260100e+06,NaN,NaN,NaN,9.500000e+01,2.017000e+03,2.480000e+02,0.000000e+00,0.000000e+00,0.0,0.0
max,2.153200e+04,1.020000e+02,NaN,NaN,2.500100e+06,NaN,NaN,NaN,2.860000e+02,2.019000e+03,3.650000e+02,2.000000e+00,1.000000e+00,0.0,0.0